<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Coordinator Dashboard</title>
</head>
<body>
    <h1>Hello <%= user %></h1>
    <h1>Welcome to the Coordinator Dashboard</h1>

    <p>You have access to coordinator features.</p>
    
    <h2>Events:</h2>
    <ul>
        <% events.forEach(function(event) { %>
            <li>
                <strong>Event Name:</strong> <%= event.event_name %><br>
                <strong>Start Date:</strong> <%= event.start_date %><br>
                <strong>End Date:</strong> <%= event.end_date %><br>
            </li>
        <% }); %>
    </ul>

    <li><a href="/students/create-event">Create Event</a></li>
    <a href="/students/logout">Logout</a>
</body>
</html>