<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Coordinator Dashboard</title>
</head>
<body>
    <h1>Hello <%= user %></h1>
    <h1>Welcome to the Coordinator Dashboard</h1>
    <!-- Coordinator-specific content goes here -->
    <p>You have access to coordinator features.</p>
    <!-- Add more coordinator-specific content here -->

    <a href="/students/logout">Logout</a>
</body>
</html>